<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>vue email list</title>
      <!-- axios -->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- /axios -->
      <!-- vue js -->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <!-- /vue js -->
      <link rel="stylesheet" href="css/style.css" />
   </head>
   <body>
      <div id="app">
         <h1>stampo 10 mail da un API</h1>
         <ul v-if="mails.length === 10">
            <li v-for="mail in mails">{{mail}}</li>
         </ul>
      </div>
      <script src="js/main.js"></script>
   </body>
</html>
